.drop-import-zone {
	.drop-import-zone__target {
		border: 2px dashed var(--re-border);
		color: var(--re-text-muted);

		&:hover,
		&.drop-import-zone__target--active {
			border-color: var(--re-accent);
			color: var(--re-text);
		}
	}
}
